{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="display-3" style="color: rgb(92, 3, 61);">Contact Us:</h1>
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-secondary btn-lg bg-dark">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock %}

{% block css %}
  <style>
    body{
      background-color: black;
    }
    .card{
      background-color:rgb(92, 3, 61);;
      color: white;
    }
    .row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  </style>
{% endblock %}